POSTGRES_DB=pagamentos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque_essa_senha

DATABASE_URL=postgresql+psycopg2://postgres:troque_essa_senha@db:5432/pagamentos
USERS_API_URL=http://18.228.48.67/users
USERS_API_TIMEOUT=5